* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: white;    
}

.header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    padding: 5vh;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navegador_ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style-type: none;
    text-decoration: none;
    padding: 3vh;
}

.navegador_ul li {
    margin: 0 20px;
}

.images__index {
    width: 100%;
}

.navegador_ul li a {
    color: rgb(29, 109, 118);
    font-weight: bold;
    font-size: 3vh;
    margin: 3vh;
    padding: 3vh;
    line-height: 2;
}

.navegador_ul li a:hover {
    text-decoration: underline;
}

.footer {
    font-family: 'Spline Sans Mono', monospace;
    padding: 3vh;
    margin: none;
    line-height: 2;
    background-color: rgb(29, 109, 118);
    color: white; 
    font-size: 1.5vh;
}

.footer_father {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image:
    radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10%{transform: rotate(15deg)}
    20%{transform: rotate(-15deg)}
    30%{transform: rotate(15deg)}
    40%{transform: rotate(-15deg)}
}

a {
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: space-between;
    color: rgb(29, 109, 118);
    border-style: solid;
    margin: 1vw;
    padding: 1vh;
    font-size: 7vh;
    font-weight: bold;
}

.card {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(29, 109, 118);
    padding: 1.5625rem;
    width: 26.25rem;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    line-height: 1.5;
}

.card_buy {
    text-decoration-line: underline;
    color: white;
}

.card_father {
    display: flex;
    justify-content: space-between;
}

.cardimg {
    height: 18.75rem;
    width: 12.5rem;
}

p {
    line-height: 1.5;
    font-weight: bold;
    color: white;
}

.card {
    width: 18.75rem;
    margin: 0 auto;
    text-align: center;
}

.card_title {
    color: white;
}

.clothing__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    max-width: 1200px;
}

.clothing_card {
    text-align: center;
    line-height: 1.5;
}

.clothingtext {
    color: black;
}

.clothingbuy {
    color: black;
    text-decoration-line: underline;
}

.signfooter {
    font-size: 8px;
    text-align: center;
}

.contact_father {
    background-color: rgb(29, 109, 118);
    display: flex;
    justify-content: space-evenly;
    font-family: 'Spline Sans Mono', monospace;
    border-style: solid;
    margin: auto;
    padding: 1rem;
}

.contact_title {
    font-weight: bold;
    text-decoration-line: underline;
}

.button {
    background-color: black;
    color: white;
    padding: 3px;
    border-color: white;
    border-style: solid;
}

.input_group {
    position: relative;
}

.input {
    font-family: 'Spline Sans Mono', monospace;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding-block: 5px;
}

.input::placeholder {
    color: inherit;
    transition: opacity .25s;
}

.input:focus::placeholder {
    opacity: 0;
}

.border_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s;
}

.input:focus + .border_bottom,
.input:valid + .border_bottom {
    transform: scaleX(1);
}

@media (max-width:768px) {
    .clothing__grid {
       grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: auto;
    }
    .title {
        text-align: center;
    }
    .navegador_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .clothingimg {
        width: 100%;
        padding: 20px;
    }
    .card_father {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width:320px) {
    .title {
        text-align: center;
    }
    .navegador_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .clothing__grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
    .card_father {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .contact_father {
        display: grid;
        grid-template-columns: repeat(1fr);
        background-size: auto;
    }
}